@import url(https://fonts.googleapis.com/css?family=Raleway:400,500);

body{
  box-sizing:border-box;
  margin:0;
  padding:0;
  font-family: 'Raleway', sans-serif;
/*   font-weight:400; */
}

main {
  position:absolute;
  top:0;
  bottom:0;
  right:0;
  left:0;
  padding:auto;
  width:100%;
  height:100%;
  background:#45fa56;
  text-align: center;
  vertical-align: center;
}